.bgimage {
    background-size: cover;
    background-position: center;
    height: 25%;
    width: 100%;
    position: relative;
    z-index: -1;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

@media (max-width: 900px) {
    .bgimage {
        height: 35vh;
    }
    .page {
        padding-top: 80px;
    }
}

@media (max-width: 600px) {
    .bgimage {
        height: 25vh;
    }
    .page {
        padding-top: 60px;
    }
}